
/* 详细信息展示 */
.container.detail {
	box-sizing: border-box;
	min-height: 100vh;
	background: #F6F7F9;
	padding-top: 1rpx;
	/* IOS XR */
	margin-bottom: env(safe-area-inset-bottom);
	/* ------ */
	padding-bottom: 110rpx;

	.view-item {
		margin: 20rpx;
		background: #fff;
		border-radius: 10rpx;
		font-size: 24rpx;
		padding: 1rpx 0;
		padding: 20rpx;

		.detail-control {	
			display: flex;
			align-items: center;
			margin-bottom: 20rpx;

			.state {
				line-height: 44rpx;
				padding: 0px 20rpx;
				border-radius: 40rpx;
				background: #D56C68;
				color:#fff;
			}
		}

		>.title {
			color: #333;
			font-size: 34rpx;
			font-weight: 900;
			border-bottom: 1rpx solid #EDEEEF;
			padding-bottom: 20rpx;
			margin-bottom: 20rpx;
		}
		
		>.item{
			margin-bottom: 12rpx;
			display:flex;
			align-items: center;
			font-size: 26rpx;
			// &:last-child{
			// 	margin: 0;
			// }
			
			&:last-child{
				margin-bottom: 0;
			}
			
			>.title{
				color: #A4B1BE;
				min-width: 4em;
				margin-right: 24rpx;
			}
			
			>.content{
				flex: 2;
				color: #333;
			}
		}
		/* 会议室预约固定设备 */
		>.equip-list{
			display:flex;
			flex-wrap: wrap;
			.item{
				width: calc(100%/5);
				border-radius: 10rpx;
				padding: 20rpx 0;
				text-align: center;
				color: #647484;
				font-size: 22rpx;
				transition: .3s;
				&:active{
					background: #F3F5F7;
				}
				.icon{
					width: 40rpx;
					height: 40rpx;
					margin-bottom: 10rpx;
				}
				.title{
					margin-bottom: 2rpx;
				}
			}
		}
	}
	/* 操作列 */
	.control-list{
		position: fixed;
		bottom: 20rpx;
		right: 20rpx;
		/* IOS XR */
		margin-bottom: env(safe-area-inset-bottom);
		/* ------ */
		display: flex;
		align-items: center;
		line-height: 70rpx;
		justify-content: flex-end;
		.item{
			display: flex;
			align-items: center;
			padding: 0 40rpx;
			color: #fff;
			background: #647484;
			border-radius: 70rpx;
			margin-left: 20rpx;
			transition: .3s;
			&:active{
				opacity: .75;
			}
			.icon{
				width: 40rpx;
				height: 40rpx;
				margin-right: 10rpx;
			}
			&.del{
				background: #D56C68;
			}
		}
	}
}